<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InicioController</servlet-name>
        <servlet-class>pe.edu.upeu.ventas2021.controller.InicioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BienvenidoController</servlet-name>
        <servlet-class>pe.edu.upeu.ventas2021.controller.BienvenidoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarController</servlet-name>
        <servlet-class>pe.edu.upeu.ventas2021.controller.ValidarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuController</servlet-name>
        <servlet-class>pe.edu.upeu.ventas2021.controller.MenuController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesionController</servlet-name>
        <servlet-class>pe.edu.upeu.ventas2021.controller.CerrarSesionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarController</servlet-name>
        <servlet-class>pe.edu.upeu.ventas2021.controller.CarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RolController</servlet-name>
        <servlet-class>pe.edu.upeu.ventas2021.controller.RolController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RolController2</servlet-name>
        <servlet-class>pe.edu.upeu.ventas2021.controller.RolController2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InicioController</servlet-name>
        <url-pattern>/inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BienvenidoController</servlet-name>
        <url-pattern>/bienvenido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuController</servlet-name>
        <url-pattern>/menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesionController</servlet-name>
        <url-pattern>/adios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarController</servlet-name>
        <url-pattern>/ventas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RolController</servlet-name>
        <url-pattern>/rol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RolController2</servlet-name>
        <url-pattern>/rol2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
